<div id="confirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-delete">
                <span id="modalError"><i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;&nbsp;
                                      <span>@Resource.confirmDialogTitle</span>
                </span>
            </div>
            <div class="modal-body">
                <p id="confirmMessage"></p>
                <div class="modal-bouton-action">
                    <a href="#" class="btn btn-dark btn-wme btn-xs buttonNo" data-dismiss="modal" rel="modal:close">@Resource.buttonNo</a>
                    <a href="#" class="btn btn-danger btn-wme btn-xs buttonYes" data-dismiss="modal" rel="modal:close">@Resource.buttonYes</a>
                </div>
            </div>
        </div>
    </div>
</div>
