<div id="contenu">
    <div class="center">
        <div id="restriction">
            Accès non autorisé !
        </div>
    </div>
</div>

<style>
    #restriction {
        margin-top: 10em;
        padding-bottom: 10em;
    }
</style>


